{
    "singleQuote": false,
    "trailingComma": "es5",
    "endOfLine": "lf",
    "overrides": [
      {
        "files": [".prettierrc", "package.json"],
        "options": { "parser": "json" }
      }
    ]
  }